header {
    .flex-column();
    font-size: 2rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 3% 15%;
    padding: 2%;
    background-color: black;
    border: solid 3rem darkcyan;
    color: white;
    @media @mobile{
        margin: 3% 5%;
    }

    h2 {
        font-size: 6rem;
        margin: 2% 0;
    }

    p {
        color: darkcyan;
        font-size: 3rem;
        @media @mobile{
            margin: 5% 0;
        }
    }

    button {
        display: block;
        font-size: 4rem;
        background-color: red;
        border-radius: 10px;
        width: 25%;
        align-self: center;
        margin: 2% 0;
        @media @mobile{
            width: 25rem;
        }
    }


}

section {
    margin: 15%;
    h2 {
        font-size: 6rem;
        text-align: center;
        color: white;
    }

    div {
        margin: 2% 0%;
        font-size: 2rem;
        display: grid;
        grid-column-gap: 5%;
        grid-template-columns: auto auto auto;
        background-color: lightgrey;
        padding: 1rem;
        @media @mobile{
            grid-template-columns: none;
        }

        .grid-item {
            .flex-column();
            justify-content: center;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);

            button {
                align-self: center;
                width: 5rem;
            }
        }
    }
}